#statements {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 3rem;
}

#statements-scroller {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#statements h1 {
    padding: 3rem;
    font-size: 2.5rem;
    color: white
}